@import "../common/vars";

.wrap-step {
  min-width: 320px;

  section {
    width: 100%;
    box-sizing: border-box;
    padding: 74px 10px;

    @media @mobile {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .link {
    font-size: 18px;
    color: #ffffff;
    border-bottom: solid 1px #ffffff;
    text-decoration: none;
  }

  .header {
    .background('background-header.png');
    .background-section;
    text-align: center;
    position: relative;
    padding: 0 0 101px;
    overflow: hidden;

    .sub-text {
      font-size: 16px;
      padding-top: 125px;
      color: #fff;
    }

    .logo {
      width: 276px;
      height: 173px;
      margin: 18px auto auto;
    }

    .link {
      margin: 34px auto 45px;
    }

    .site {
      width: 1040px;
      z-index: 1;
      position: relative;
      margin: 40px auto auto;

      @media (max-width: 1040px) {
        width: auto;
      }

      img {
        width: 100%;
      }
    }

    .content-step {
      .boots {
        position: absolute;
        z-index: 3;
      }

      .boots-1 {
        top: 0;
        left: -30px;
        width: 223px;
        height: 207px;
      }

      .boots-2 {
        top: 0;
        right: 30px;
        width: 285px;
        height: 156px;
      }

      .boots-3 {
        top: 400px;
        left: -200px;
        width: 304px;
        height: 266px;
      }

      .boots-4 {
        top: 297px;
        right: -192px;
        width: 309px;
        height: 321px;
      }

      @media @desktop {
        .boots {
          display: none;
        }
      }
    }

    .background-2 {
      position: absolute;
      bottom: 0;
      .size(100%,488px);
      .background('background-red-second.png');
      .background-section;

      @media @tablet {
        max-height: 250px;
      }
    }
  }

  .how-made {
    background-color: @pale-grey;
    padding-bottom: 0;
    overflow: hidden;

    .top-text {
      width: 639px;
      font-size: 15px;
      text-align: center;
      color: @greyish-brown;
      margin: auto;

      @media (max-width: 639px) {
        width: 100%;
      }
    }

    .plans-wrap {
      width: 820px;
      margin-left: auto;
      margin-top: 83px;
      position: relative;
      z-index: 1;

      @media @desktop {
        width: 100%;
      }

      img {
        width: 100%;
        margin-bottom: 65px;
      }
    }

    .boxes {
      width: 512px;
      height: 960px;
      position: absolute;
      left: -50px;
      bottom: -50px;

      @media @desktop {
        display: none;
      }
    }
  }

  .request {
    .background('background-footer.jpg');
    .background-section;
  }

  .laptop {
    .background('background-notebook.png');
    .background-section;
    overflow: hidden;
    padding-top: 120px;
    padding-bottom: 247px;

    @media @desktop {
      padding-top: 74px;
      padding-bottom: 74px;
    }

    .notebook {
      width: 90%;
      margin: auto;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
      }

      @media (max-width: 1018px) {
        width: 100%;
      }
    }

    .background-second {
      position: absolute;
      width: 160%;
      left: -30%;
      top: -30%;

      @media @desktop {
        display: none;
      }

      img {
        width: 100%;
      }
    }
  }

  .example-slider {
    .background('background-red-second.png');
    .background-section;
    text-align: center;
    padding-bottom: 7vw;

    .title {
      font-size: 30px;
      color: #fefefe;
    }

    .sub-text {
      margin-top: 27px;
      font-size: 18px;
      color: #fefefe;
    }

    .slider-wrap {
      display: flex;

      .slick-slide {
        margin: 7px;
      }

      .arrow {
        .background('arrow.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 19px;
        height: 33px;
        margin: auto;
        display: block;


        &.prev {
          transform: rotate(180deg);
          margin-right: 10px;
        }

        &.next {
          margin-left: 10px;
        }
      }

    }
  }

  .screenshots {
    height: 30vw;
    background-color: @white;
    position: relative;
    padding: 0;
    min-height: 200px;

    .wrap {
      height: 120%;
      .background('pages.png');
      .background-section();
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  .footer {
    .background('background-footer.jpg');
    .background-section();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 110px;
    height: 500px;

    .footprint {
      .size(213px, 110px);
      .background('footprint.png');
      .background-section;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .leather {
      .background('leather.png');
      .background-section;
      .size(209px, 205px);
      display: flex;
      justify-content: center;

      .letsrock {
        .background('letsrock.png');
        .background-section;
        margin-top: 80px;
        display: flex;
        width: 160px;
        height: 35px;
        position: relative;

        @media @tablet {
          margin-bottom: 100px;
        }

        .logo {
          background: url("@{imgdir}/letsrock.png") no-repeat;
          background-size: cover;
          .size(160px, 35px);
          .pseudo;
          opacity: 0.6;
          position: relative;
          margin-top: 80px;
          color: #fff;
        }

        .year {
          .size(33px, 11px);
          margin-left: 15px;
          opacity: 0.6;
          font-size: 15px;
          color: #fff;
          position: absolute;
          right: -33px;
          top: 0;
        }
      }
    }
  }
}