@import "vars";

.content-step {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  position: relative;

  @media @desktop {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
  }
}
