@greyish-brown: #4a4a4a;
@brick: #a22b25;
@pale-grey: #f6f7f9;
@white: #f6f6f6;

@imgdir: "/images";

.pseudo {
  content: "";
  position: absolute;
}

.size(@w, @h:@w) {
  width: @w;
  height: @h;
}

.background(@imgName) {
  background: url("@{imgdir}/@{imgName}");
}

.background-section {
  background-repeat: no-repeat;
  background-size: cover;
}

// Mode: Mobile
@mobile: ~"(max-width: 480px)";
@mobile-area: 480px;

// Mode: Tablet
@tablet: ~"(max-width: 768px)";
@tablet-area: 750px;

// Mode: Desktop
@desktop: ~"(max-width: 1170px)";
@desktop-area: 1170px;

// Area site
.area {
  margin-left: auto;
  margin-right: auto;
}

@media @tablet {
  .area {
    width: @tablet-area;
  }
}

@media @desktop {
  .area {
    width: @desktop-area;
  }
}