@import "../common/vars";

.production {
  position: relative;
  margin: 40px 0 30px;
  display: contents;

  &__slider {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    list-style: none;
    overflow: hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .btn {
    padding: 0 11px;
    line-height: 24px;
    height: 24px;
    font-weight: normal !important;
    display: block;
    background: #a32b25;
    font-size: 12px;
    border-radius: 3px;
    border: none;
    color: #fff;
  }
  .btn_small {
    padding: 3px 11px;
    min-height: initial;
  }
  .btn_price {
    position: absolute;
    right: 0;
    bottom: 0;
  }

}

.product {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 25px 15px 20px 25px;
  margin: 0 7px;
  width: 240px;
  height: 312px;
  background: white;
  box-sizing: border-box;
  transition: all .6s;
  overflow: hidden;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  }

  &__link {
    position: absolute;
    z-index: 1;
    left: 0; top: 0;
    width: 100%; height: 100%;

    &:focus {
      outline: none;
    }
  }

  &__img {
    position: relative;
    width: 200px;
    height: 200px;

    img {
      position: absolute;
      left: 50%; top: 50%;
      transform: translate(-50%,-50%);
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title {
    margin: 0;
    height: 40px;
    overflow: hidden;
    font-family: Arial;
    font-size: 18px;
    text-align: left;
    color: #000000;
  }

  &__price {
    position: relative;
    font-size: 12px;
    margin-top: 10px;
    display: flex;

    span {
      display: inline-block;
      margin-bottom: 3px;
    }
  }
}

.product_list {
  margin: 0 20px 30px 0;
}

.news {
  &__slider {
    width: 1000px;
    margin: 30px auto 0;
    padding: 10px 0;
    list-style: none;
    overflow: hidden;
  }
}

.news-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 7px;
  width: 240px;
  height: 400px;
  background: white;
  overflow: hidden;
  border-radius: 3px;
  transition: all .6s;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  }

  &__link {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
  }

  &__img {
    width: 100%;
    height: 166px;
    overflow: hidden;
  }

  &__info {
    font-family: 'Arial', sans-serif;
    padding: 12px 28px 0 20px;
    box-sizing: border-box;
    height: 170px;
    overflow: hidden;
  }

  &__title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
  }

  &__text {
    margin: 5px 0 18px;
    font-size: 12px;
    line-height: 1.5;
  }

  &__btn {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }
}