@import "../common/vars";

.partnership {
  width: 1070px;
  padding: 30px 0;
  border: 1px solid @brick;
  border-radius: 3px;
  background: #fff;
  margin: auto;

  @media (max-width: 1070px) {
    width: 100%;
  }


  &__form {
    width: 580px;
    margin: 0 auto;

    @media @tablet {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
  }


  .btn {
    display: block;
    text-align: center;
    padding: 0 13px;
    background: @brick;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    border-radius: 3px;
    border: none;
    color: white;
    height: 24px;
    line-height: 24px;

    &:focus {
      outline-color: @brick;
    }
  }
}

.form {
  &__title {
    margin: 0 0 30px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
  }

  &__field {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #979797;

    input {
      width: 100%;
      height: inherit;
      border: none;
      background: none;

      &:focus {
        outline: none;
        color: @brick;

        &::placeholder {
          color: @brick;
        }
      }
    }
  }

  &__field_s {
    display: inline-block;
    width: 48%;

    @media @tablet {
      width: 100%;
    }
  }

  &__line {
    margin-bottom: 5px;
    text-align: justify;
    font-size: 14px;

    @media @tablet {
      display: flex;
      flex-direction: column;
    }

    &::after {
      display: inline-block;
      width: 100%;
      height: 0;
      content: '';
    }
  }

  &__buttons {
    margin-top: 20px;
    text-align: justify;

    &::after {
      display: inline-block;
      width: 100%; height: 0;
      content: '';
    }
  }

  &__upload {
    display: inline-block;

    input {
      display: none;
    }
  }
}
